.vs
/Ejercicios/Ejercicios/bin
/Ejercicios/Ejercicios/bin/Debug/net6.0/
/Ejercicios/Ejercicios/bin/Debug/net6.0/Ejercicios.exe
/Ejercicios/Ejercicios/bin/Debug/net6.0/Ejercicios.pdb
/Ejercicios/Ejercicios/obj
/Ejercicios/Ejercicios/obj/Ejercicios.csproj.nuget.dgspec.json
/Ejercicios/Ejercicios/obj/Ejercicios.csproj.nuget.g.props
/Ejercicios/Ejercicios/obj/project.assets.json
/Ejercicios/Ejercicios/obj/project.nuget.cache
/Ejercicios/Ejercicios/obj/Debug/net6.0/apphost.exe
/Ejercicios/Ejercicios/obj/Debug/net6.0/Ejercicios.assets.cache
/Ejercicios/Ejercicios/obj/Debug/net6.0/Ejercicios.csproj.CoreCompileInputs.cache
/Ejercicios/Ejercicios/obj/Debug/net6.0/Ejercicios.genruntimeconfig.cache
/Ejercicios/Ejercicios/obj/Debug/net6.0/Ejercicios.GeneratedMSBuildEditorConfig.editorconfig
/Ejercicios/Ejercicios/obj/Debug/net6.0/Ejercicios.dll
/Ejercicios/Ejercicios/obj/Debug/net6.0/Ejercicios.pdb
/Ejercicios/Ejercicios/obj/Debug/net6.0/ref/Ejercicios.dll
/Ejercicios/Ejercicios/obj/Debug/net6.0/refint/Ejercicios.dll
/Ejercicios/.vs/Ejercicios
/Ejercicios/.vs/Ejercicios/v17/.suo
/Ejercicios/.vs/Ejercicios/DesignTimeBuild/.dtbcache.v2
/Ejercicios/BBDD/bin/Debug/net6.0/BBDD.dll
/Ejercicios/Ejercicios/obj/Debug/net6.0/Ejercicios.csproj.AssemblyReference.cache
/Ejercicios/Ejercicios/obj/Debug/net6.0/Ejercicios.csproj.AssemblyReference.cache
/Ejercicios/Code_First/obj/Debug/net6.0/Code_First.pdb
/Ejercicios/Code_First/obj/Debug/net6.0/Code_First.genruntimeconfig.cache
/Ejercicios/Code_First/obj/Debug/net6.0/Code_First.dll
/Ejercicios/Code_First/obj/Debug/net6.0/Code_First.csproj.FileListAbsolute.txt
/Ejercicios/Code_First/obj/Debug/net6.0/Code_First.csproj.CoreCompileInputs.cache
/Ejercicios/Code_First/bin/Debug/net6.0/Code_First.pdb
/Ejercicios/Code_First/bin/Debug/net6.0/Code_First.dll
/Ejercicios/Code_First/bin/Debug/net6.0/BD.pdb
/Ejercicios/Code_First/bin/Debug/net6.0/BD.dll
/Ejercicios/BD/obj/Debug/net6.0/BD.pdb
/Ejercicios/BD/obj/Debug/net6.0/BD.genruntimeconfig.cache
/Ejercicios/BD/obj/Debug/net6.0/BD.dll
/Ejercicios/BD/obj/Debug/net6.0/BD.csproj.FileListAbsolute.txt
/Ejercicios/BD/bin/Debug/net6.0/BD.pdb
/Ejercicios/BD/bin/Debug/net6.0/BD.dll
/Ejercicios/Mvc
/Ejercicios/Services/obj/Debug/net6.0/Services.csproj.AssemblyReference.cache
/Ejercicios/Swagger/bin/Debug/net6.0/Swagger.dll
/Ejercicios/Swagger/bin/Debug/net6.0/Swagger.pdb
/Ejercicios/Swagger/obj/Debug/net6.0/Swagger.csproj.AssemblyReference.cache
/Ejercicios/Swagger/obj/Debug/net6.0/Swagger.dll
/Ejercicios/Swagger/obj/Debug/net6.0/Swagger.pdb
/Ejercicios/Data/obj/Debug/net6.0/Data.csproj.AssemblyReference.cache
/Ejercicios/Data/obj/Debug/net6.0/refint/Data.dll
/Ejercicios/Data/obj/Debug/net6.0/ref/Data.dll
/Ejercicios/Data/obj/Debug/net6.0/Data.pdb
/Ejercicios/Data/obj/Debug/net6.0/Data.dll
/Ejercicios/Data/obj/Debug/net6.0/Data.csproj.CoreCompileInputs.cache
/Ejercicios/Data/obj/Debug/net6.0/Data.csproj.BuildWithSkipAnalyzers
/Ejercicios/Data/bin/Debug/net6.0/Data.pdb
/Ejercicios/Data/bin/Debug/net6.0/Data.dll
/Ejercicios/Swagger/obj/Debug/net6.0/refint/Swagger.dll
/Ejercicios/Swagger/obj/Debug/net6.0/ref/Swagger.dll
/Ejercicios/Swagger/bin/Debug/net6.0/Services.pdb
/Ejercicios/Swagger/bin/Debug/net6.0/Services.dll
/Ejercicios/Swagger/bin/Debug/net6.0/Data.pdb
/Ejercicios/Swagger/bin/Debug/net6.0/Data.dll
/Ejercicios/Services/obj/Debug/net6.0/Services.pdb
/Ejercicios/Services/obj/Debug/net6.0/Services.dll
/Ejercicios/Services/bin/Debug/net6.0/Services.pdb
/Ejercicios/Services/bin/Debug/net6.0/Services.dll
/Ejercicios/Services/bin/Debug/net6.0/Data.pdb
/Ejercicios/Services/bin/Debug/net6.0/Data.dll
/Ejercicios/Swagger/Prueba_Angular/.vscode/tasks.json
/Ejercicios/Swagger/Prueba_Angular/.vscode/launch.json
/Ejercicios/Swagger/Prueba_Angular/.vscode/extensions.json
