<app-modal-comp></app-modal-comp>

<h2 class="col-10 offset-1 mb-2 pb-2 mt-3" style="border-bottom: solid 1px rgb(234, 212, 46);">{{tittle}}
    <div class="float-end">
        <label class="btn btn-secondary m-1" (click)="goBack()">B A C K</label>
        <label class="btn btn-warning m-1" (click)="saveDataClient()">S A V E</label>
    </div>
</h2>

<div class="col-10 offset-1 row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
        <label class="col-4">UserName</label>
        <input class="col-6 form-control" #userName [(ngModel)]="client.userName">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
        <label class="col-4">Cash</label>
        <input class="col-6 form-control" #saldo [(ngModel)]="client.saldo">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
        <label class="col-4">Civil Status</label>
        <select class="form-select" [(ngModel)]="client.estado" (ngModelChange)="onChangeEstado($event)">
            <option *ngFor="let o of enumOptions1" [value]="onSelectEstado(o)">{{ o }}</option>
        </select>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
        <label class="col-4"> </label>
       <input class="col-6 form-control" #estado [value]="client.estado" [disabled]="true">
    </div>
</div>

<div class=" col-10 offset-1 pt-5">
    <div class="row">
            <div class="col-sm-1 mb-2 d-flex justify-content-center align-items-center" >
                <label class="col-1">Person:</label>
            </div>
            <div class="col-sm-3 mb-2 ">
                <select #pList class="form-select" [(ngModel)]="selectedPersonId" (ngModelChange)="onSelectPerson()">
                    <option value="">Select a person</option>
                    <option *ngFor="let person of personasList" [value]="person.id">{{ person.name }}</option>
                </select>
            </div>
            <div class="col-sm-2 mb-2 ">
                <input class="col-6 form-control" placeholder="name" [value]="personaSelected.name" [disabled]="true">
            </div>
            <div class="col-sm-2 mb-2">
                <input class="col-6 form-control" placeholder="surname 1" [value]="personaSelected.surname1" [disabled]="true">
            </div>
            <div class="col-sm-2 mb-2">
                <input class="col-6 form-control" placeholder="surname 2" [value]="personaSelected.surname2" [disabled]="true">
            </div>
            <div class="col-sm-2 mb-2">
                <input class="col-6 form-control" placeholder="age" [value]="personaSelected.age" [disabled]="true">
            </div>
    </div>
</div>