<h2 class="col-10 offset-1 mb-2" style="border-bottom: solid 1px red;" *ngIf="!clientExist">Crear cliente</h2>
<h2 class="col-10 offset-1 mb-2" style="border-bottom: solid 1px red;" *ngIf="clientExist">Detalles de cliente</h2>

<div class="col-10 offset-1 row">
    <div class="col-4 mb-2">
        <label class="col-4">UserName</label>
        <input class="col-6" value="{{client.userName}}">
    </div>
    <div class="col-4 mb-2">
        <label class="col-4">Nombre</label>
        <input class="col-6" value="{{client.name}}">
    </div>
    <div class="col-4 mb-2">
        <label class="col-4">P. Apellido</label>
        <input class="col-6" value="{{client.surname1}}">
    </div>
    <div class="col-4 mb-2">
        <label class="col-4">S. Apellido</label>
        <input class="col-6" value="{{client.surname2}}">
    </div>
    <div class="col-4 mb-2">
        <label class="col-4">Age</label>
        <input class="col-6" value="{{client.age}}">
    </div>
    <div class="col-4 mb-2">
        <label class="col-4">Saldo</label>
        <input class="col-6" value="{{client.saldo}}">
    </div>
</div>