<!-- #region Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../cliente/list">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../persona">Persons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #endregion -->
<br>
<h2 class="col-10 offset-1 mb-2 newBorder pt-5" >Clientes</h2>

<div class="col-10 offset-1 row border">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <button class="btn btn-light ml-3 mr-3" (click)="filters = !filters">Filtros</button>
                </th>
                <th>
                    <label>UserName</label>
                </th>
                <th>
                    <label>Saldo</label>
                </th>
                <th>
                    <label>Estado</label>
                </th>
            </tr>
            <tr *ngIf="filters">
                <th></th>
                <th>
                    <input type="text" class="form-control" [(ngModel)]="filterCustomer.userName" placeholder="Filtrar por Username" (ngModelChange)="getDataListFilterCliente()">
                </th>
                <th>
                    <input type="numer" class="form-control" [(ngModel)]="filterCustomer.saldo" placeholder="Filtrar por saldo" (ngModelChange)="getDataListFilterCliente()">
                </th>
                <th>
                    <select class="form-control" [(ngModel)]="filterCustomer.estado" (ngModelChange)="getDataListFilterCliente()">
                        <option *ngFor="let estado of estadosPersona" value="{{estado.id}}">{{estado.description}}</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of collectionClientes.personas" id="datatable-row">
                <td class="col-2">
                    <button class="btn btn-warning ml-3 mr-3" (click)="goToDetailsClient(client.id)">Editar</button>
                    <button class="btn btn-light ml-3 mr-3" (click)="deleteClient(client.id)">Eliminar</button>
                </td>
                    <td>{{ client.userName }}</td>                
                    <td>{{ client.saldo }}</td>
                    <td>{{ client.estado }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-4">
            <label class="btn" (click)="changePage(-1)">Atras</label>
            <label>{{collectionClientes.pageIndex}}</label>
            <label class="btn" (click)="changePage(1)">Siguiente</label>
        </div>
        <input type="number" class="offset-7 col-1" [(ngModel)]="collectionClientes.pageSize" (ngModelChange)="getDataListFilterCliente()">
    </div>
    <button type="button" class="btn btn-warning" (click)="goToCreateClient()">Crear nuevo</button>

</div>
<!-- <div class="col-10">
    <app-detailsperson-comp></app-detailsperson-comp>
</div> -->
