<app-modal-comp></app-modal-comp>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2 class="col-10 offset-1 mb-2 newBorder pt-5" >C L I E N T S</h2>

<div class="col-10 offset-1 row border">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <button class="btn btn-light btn-outline-warning ml-4" [title]="'open filters'" (click)="filters = !filters">
                        <i class="fa fa-filter"></i> 
                    </button> &nbsp;
                    <button class="btn btn-light btn-outline-warning ml-4" [title]="'create new'" (click)="goToCreateClient()">
                        <i class="fa fa-plus"></i>
                    </button> &nbsp;
                    <button class="btn btn-light btn-outline-warning ml-4" [title]="'show toast'"(click)="showTest()">
                        <i class="fa fa-exclamation-circle"></i>
                    </button>
                </th>
                <th>
                    <label>U S E R N A M E</label>
                </th>
                <th>
                    <label>C A S H</label>
                </th>
                <th>
                    <label>C I V I L S T A T U S</label>
                </th>
            </tr>
            <tr *ngIf="filters">
                <th><input type="number" class="form-control" [(ngModel)]="collectionClientes.pageSize"
                        (ngModelChange)="getDataListFilterCliente()"></th>
                <th>
                    <input type="text" class="form-control" [(ngModel)]="filterCustomer.userName" placeholder="filter by username"
                        (ngModelChange)="getDataListFilterCliente()">
                </th>
                <th>
                    <input type="number" class="form-control" [(ngModel)]="filterCustomer.saldo" placeholder="filter by cash"
                        (ngModelChange)="getDataListFilterCliente()">
                </th>
                <th>
                    <select class="form-control" [(ngModel)]="filterCustomer.estado" (ngModelChange)="getDataListFilterCliente()">
                        <option *ngFor="let estado of estadosPersona" value="{{estado.id}}">{{estado.description}}</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of collectionClientes.personas" id="datatable-row">
                <td class="col-2">
                    <button class="btn btn-warning ml-3 mr-3" (click)="goToDetailsClient(client.id)">E D I T</button>
                    <button class="btn btn-light ml-3 mr-3" (click)="deleteClient(client.id)">D E L E T E</button>
                </td>
                    <td>{{ client.userName }}</td>                
                    <td>{{ client.saldo }}</td>
                    <td>{{ client.estadoDescription }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <div class="col-12">
            <label class="btn" (click)="changePage(-1)">&laquo;</label>
            <label>{{collectionClientes.pageIndex}}</label>
            <label class="btn" (click)="changePage(1)">&raquo;</label>
        </div>
    </div>
    <!-- <button type="button" class="btn btn-light" (click)="showTest()">¡C L I C K &nbsp; M E!</button> -->

</div>

<!-- <div class="col-10">
    <app-detailsperson-comp></app-detailsperson-comp>
</div> -->

