<h2 class="col-10 offset-1 mb-2" style="border-bottom: solid 1px red;">Clientes</h2>

<div class="col-8 offset-2 row border">
    <div class="col-12 row">
        <div class="col-2"></div>
        <div class="col-5">UserName</div>
        <div class="col-5">Saldo</div>
    </div>
    <div class="col-12 row rows mb-1" *ngFor="let client of clientes">
        <div class="col-2">
            <label class="btn col-3" (click)="goToDetailsClient(client.id)">
                &#9998;
            </label>
            <label class="btn offset-2 col-3" (click)="deleteClient(client.id)">
                <b>X</b>
            </label>
        </div>
        <div class="col-5 pt-1">{{client.userName}}</div>
        <div class="col-5 pt-1">{{client.saldo}}</div>
    </div>
</div>
